<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title><%= title %></title>
  <style>
    img {
      max-width: 100%;
    }
  </style>
</head>
<body>
  <h1><%= title %></h1>
  <p>Your ip is - <%= ip %></p>
  <p>Country: <%= placeInfo.country %></p>
  <p>City: <%= placeInfo.city %></p>
  <p><%= warning %></p>

  <img src="<%= image %>" alt="City">
</body>
</html>